@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .calendar {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    margin: 2rem;
    align-items: start;
  }
  /*border uhrzeit von calander */
  .timeline {
    display: grid;
    grid-template-rows: repeat(24, 100px);

  }

  .timeline .spacer {
    height: 10px;
  }

  .time-marker {
    font-size: 0.875rem;
    color: #555;
  }

  .days {
    display: grid;
    grid-column: 2;
    gap: 5px;
    grid-template-columns: repeat(7, minmax(120px, 1fr));
  }
/*border gray of the calander */
  .events {
    display: grid;
    border: 0.5px solid black;
    grid-template-rows: repeat(10, 100px);
    background: #fff1f8;
    border-radius: 5px;
  }

  .event {
    border: 1px solid #f2d3d8;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 1rem;
    background: #29dcbb;
    font-size: 0.875rem;
  }

  .corp-fi {
    background: blue;
  }
  .ent-law {
    background: cadetblue;
  }
  .writing {
    background: deepskyblue;
  }
  .securities {
    background: cornflowerblue;
  }

  .start-1 {
    grid-row-start: 1;
  }
  .start-2 {
    grid-row-start: 2;
  }
  .start-3 {
    grid-row-start: 3;
  }
  .start-4 {
    grid-row-start: 4;
  }
  .start-5 {
    grid-row-start: 5;
  }
  .start-6 {
    grid-row-start: 6;
  }
  .start-7 {
    grid-row-start: 7;
  }
  .start-8 {
    grid-row-start: 8;
  }
  .start-9 {
    grid-row-start: 9;
  }
  .start-10 {
    grid-row-start: 10;
  }

  .end-1 {
    grid-row-end: 1;
  }
  .end-2 {
    grid-row-end: 2;
  }
  .end-3 {
    grid-row-end: 3;
  }
  .end-4 {
    grid-row-end: 4;
  }
  .end-5 {
    grid-row-end: 5;
  }
  .end-6 {
    grid-row-end: 6;
  }
  .end-7 {
    grid-row-end: 7;
  }
  .end-8 {
    grid-row-end: 8;
  }
  .end-9 {
    grid-row-end: 9;
  }
  .end-10 {
    grid-row-end: 10;
  }

  .date {
    display: flex;
    gap: 1em;
    height: 60px;
    align-items: center;
  }

  .date-num {
    font-size: 1.75rem;
    font-weight: 600;
    color: black;
  }

  .date-day {
    font-size: 1.75rem;
    font-weight: 300;
    color: black;
  }
  :root {
    --fc-border-color: #444;
    --fc-page-bg-color: #1f1f1f;
    --fc-neutral-bg-color: #2d2d2d;
    --fc-now-indicator-color: #fff;
  }

  .fc {
    background-color: #1f1f1f;
    color: #2da7c3;
    font-family: 'Inter', sans-serif;
  }

  .fc-daygrid-event {
    padding: 2px;
    font-size: 0.75rem;
    border-radius: 4px;
    font-weight: 500;
  }

  .fc .fc-daygrid-day {
    background-color: #e0f2fe;
  }

  .fc .fc-daygrid-day.fc-day-today {
    background-color: #3b82f6 !important;
    color: white;
  }

  .fc .fc-daygrid-day:hover {
    background-color: #93c5fd !important;
    cursor: pointer;
  }
  .fc-toolbar-title {
    font-size: 1.25rem;
    color: white;
  }

  .fc-button {
    background: #444;
    border: none;
    color: white;
  }

  .fc-button:hover {
    background: #12c6a9;
  }

  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    min-height: 100vh;
    font-size: 1rem;;
    font-family: Helvetica, Verdana, sans-serif;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px 30px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 2px rgb(0, 111, 255);
    color: #0078ff;
    font-size: 16px;
    &.mask {
      top: 150px;
      mask-image: linear-gradient(black 70%, transparent);
      -webkit-mask-image: linear-gradient(black 70%, transparent);
    }
    &.mask-pattern {
      top: 300px;
      mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
      mask-size: auto 30px, 100% 100%;
      mask-repeat: repeat-x, no-repeat;
      mask-position: left bottom, top left;

      -webkit-mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
      -webkit-mask-size: auto 30px, 100% 100%;
      -webkit-mask-repeat: repeat-x, no-repeat;
      -webkit-mask-position: left bottom, top left;
    }

    @media (min-width: 640px) {
      padding: 16px 50px 30px 50px;
    }
  }
  nav.is-hidden {
    transform: translateY(-500%);
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  .list {
    list-style-type: none;
    margin-left: auto;
    display: none;
    @media (min-width: 640px) {
      display: flex;
    }
    li {
      margin-left: 20px;
    }
  }
  .search {
    display: inline-block;
    padding: 0;
    font-size: 0;
    background: none;
    border: none;
    margin-left: auto;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
    @media (min-width: 640px) {
      margin-left: 20px;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: center/1.3rem 1.3rem no-repeat url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2015.17%2014.81%27%20width=%2715.17%27%20height=%2714.81%27%3E%3Cpath%20d=%27M6,.67A5.34,5.34,0,1,1,.67,6,5.33,5.33,0,0,1,6,.67ZM9.86,9.58l4.85,4.75Z%27%20fill=%27none%27%20stroke=%27%23fff%27%20stroke-width=%271.33%27%2F%3E%3C%2Fsvg%3E");
    }
  }
  .menu {
    display: inline-block;
    padding: 0;
    font-size: 0;
    background: none;
    border:  none;
    margin-left: 20px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
    &::before {
      content: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2024.8%2018.92%27%20width=%2724.8%27%20height=%2718.92%27%3E%3Cpath%20d=%27M23.8,9.46H1m22.8,8.46H1M23.8,1H1%27%20fill=%27none%27%20stroke=%27%23fff%27%20stroke-linecap=%27round%27%20stroke-width=%272%27%2F%3E%3C%2Fsvg%3E")
    }
    @media (min-width: 640px) {
      display: none;
    }
  }
  img {
    width: 100%;
    min-height: 200vh;
    object-fit: cover;
  }



}
